.main{
}

.colume_2{
    width: 90%;
    display: flex;
    margin: auto;
}
.colume_2 span{
    border:1px solid #aeaeae;
    width: 50%;
}
.main_title{
    padding: 10px;
    text-align: left;
}

.title{
    font-size: 18px;
    font-weight: 300;
}
.tools{
    padding: 10px;
    display: flex;
}
.tools span{
    width: 50%;
}
